<AuthorizeView>
    <Authorized>
        <h4>

            Hello, @authState.User.Claims.FirstOrDefault(x=>x.Type.Equals("preferred_username")).Value!
            <a href="authentication/logout">logout</a>
        </h4>
    </Authorized>
    <NotAuthorized>
        <h4>
            <a href="authentication/login">Log in</a> to reservate a bicycle or <a href="authentication/login">Register</a> if you dont have an account yet.
        </h4>
    </NotAuthorized>
</AuthorizeView>
@code {
    private AuthenticationState authState = null;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        authState = await authenticationStateTask;

    }
}
