@model BicycleRental.Shared.Models.Bicycle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bicycle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearCount" class="control-label"></label>
                <input asp-for="GearCount" class="form-control" />
                <span asp-validation-for="GearCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TireSize" class="control-label"></label>
                <input asp-for="TireSize" class="form-control" />
                <span asp-validation-for="TireSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrizePerDay" class="control-label"></label>
                <input asp-for="PrizePerDay" class="form-control" />
                <span asp-validation-for="PrizePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrontPicture" class="control-label"></label>
                <input asp-for="FrontPicture" class="form-control" />
                <span asp-validation-for="FrontPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture2" class="control-label"></label>
                <input asp-for="Picture2" class="form-control" />
                <span asp-validation-for="Picture2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture3" class="control-label"></label>
                <input asp-for="Picture3" class="form-control" />
                <span asp-validation-for="Picture3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture4" class="control-label"></label>
                <input asp-for="Picture4" class="form-control" />
                <span asp-validation-for="Picture4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
