@using BicycleRental.Shared.Models;
@inject NavigationManager NavigationManager

<p>
    <text>@Bicycle.Id - @Bicycle.Name (@(Bicycle.Brand))</text>

    <button @onclick="DetailsButtonClicked">Details</button>

    <AuthorizeView>
        <Authorized>
            <button @onclick="ReservateButtonClicked">Reservate</button>
        </Authorized>
    </AuthorizeView>
</p>



@code {

    [Parameter]
    public Bicycle Bicycle { get; set; }

    private void DetailsButtonClicked(MouseEventArgs args)
    {
        NavigationManager.NavigateTo($"/BicycleDetail/{Bicycle.Id}");
    }


    private void ReservateButtonClicked(MouseEventArgs args)
    {
        NavigationManager.NavigateTo($"/BicycleReservation/{Bicycle.Id}");
    }
}