@using BicycleRental.Shared.Models;
@inject NavigationManager NavigationManager
<p>
    <text>@Bicycle.Id - @Bicycle.Name (@(Bicycle.Brand))</text>

    <button @onclick="DetailsButtonClicked">Details</button>
</p>



@code {
    private bool _isEdit = false;
    //private KiddyBlazor.Shared.Artikel _localArtikel;



    [Parameter]
    public Bicycle Bicycle { get; set; }

    //[Parameter]
    //public EventCallback<KiddyBlazor.Shared.Artikel> ArtikelChanged { get; set; }


    //[Parameter]
    //public EventCallback<int> ArtikelDeleted { get; set; }




    private void DetailsButtonClicked(MouseEventArgs args)
    {
        NavigationManager.NavigateTo($"/BicycleDetail/{Bicycle.Id}");
    }

    //private async Task OkButtonClicked(MouseEventArgs args)
    //{
    //    Artikel.ArtikelName = _localArtikel.ArtikelName;
    //    Artikel.GewichtInGramm = _localArtikel.GewichtInGramm;
    //    _isEdit = false;

    //    await ArtikelChanged.InvokeAsync(Artikel);
    //}

}