@page "/"
@using BicycleRental.Client.Repositories;
@using BicycleRental.Shared.Models;

<PageTitle>Index</PageTitle>

<h1>Hello there!</h1>

Welcome to your best and most liked bike rental place.

<BicycleList Bicycle="_bicycles" />

@code {
    private List<Bicycle> _bicycles = new List<Bicycle>();


    [Inject]
    private BicycleRepository bicycleRepository { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _bicycles = await InitBicycleList();
    }

    private async Task<List<Bicycle>> InitBicycleList()
    {
        var tmpList = await bicycleRepository.Index();
        if (tmpList == null)
        {
            return new List<Bicycle>();
        }

        return (tmpList).ToList();
    }
}